# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Build outputs
dist/
build/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS / Android
ios/
android/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Chrome Extension
packages/extension/dist/
